apiVersion: apps/v1
kind: Deployment
metadata:
  name: linkding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: linkding
  template:
    metadata:
      labels:
        app: linkding
    spec: 
      securityContext:
        fsGroup: 33 # www-data group ID
        runAsUser: 33 # www-data user ID
        runAsGroup: 33 # www-data group ID

      volumes:
      - name: linkding-data
        persistentVolumeClaim:
          claimName: linkding-data-pvc
      
      containers:
        - name: linkding
          image: sissbruecker/linkding:1.44.2
          ports:
            - containerPort: 9090
          envFrom:
          - secretRef:
              name: super-user-secret
          volumeMounts:
            - mountPath: /etc/linkding/data
              name: linkding-data
          securityContext:
            allowPrivilegeEscalation: false
